<div id="movieDetail"class="">
<div class="row">
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<img data-ng-src="{{movie.posters.newPoster}}" class="img-responsive imageDetail" alt="Image">
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h2>{{movie.title}}</h2>
			</div>

		</div>
		<hr />
		<div class="row movieDetailSynopsis">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<strong>Synopsis</strong><p>{{movie.synopsis}}</p>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<strong>Audiance Score</strong> 
				<br /> 
				<rating data-ng-model="movie.ratings.audianceStarRating" readonly="true"></rating>
				<!-- <p data-ng-class='{"text-success": movie.ratings.audience_score >50, "text-danger": movie.ratings.audience_score <50}'>{{movie.ratings.audience_score}} %</p> -->
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<strong>Critics score</strong>
				<br /> 
				<rating data-ng-model="movie.ratings.criticesStarRating" readonly="true"></rating>
			</div>
		</div>

	</div>

</div>
</div>
